
/*#103042
#0E495A
#49ACC7
#585600
#FCBB00*/

html, body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    /*text-align: center;*/
    background:url(bg.jpg) no-repeat top right fixed;
    height:100%;
}
header{
    font-family: 'Pacifico', cursive;
    color: #343434;
    font-size: 2em;
    text-align: center;
}
header h1{
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: #343434 0px 0px 1px, #ffffff 0px 0px 10px, #ffffff 0px 0px 15px, #ffffff 0px 0px 25px;
}
#main {
    background-color: #A4A4A4;
    margin: 0 auto;
    width: 1000px;
    /*border-radius: 4em 4em 4em 4em;*/
    -moz-box-shadow: 0px 0 15px 15px rgba(52,52,52,1.0);
    -webkit-box-shadow: 0px 0 15px 15px rgba(52,52,52,1.0);
    box-shadow: 0px 0 15px 15px rgba(52,52,52,1.0);
    min-height:100%;
    height: auto !important;
    height:100%;
    overflow: hidden !important;
    /*text-shadow: #ffffff 0px 0px 5px, #ffffff 0px 0px 1px;*/
}
#mainnav{
    float: left;
    width: 200px;
    background-color: #343434;
    color:#FCBB00;
    margin: 15px;
    margin-top: 40px;
    min-height: 250px;
    padding-top: 10px;
    -moz-box-shadow: 0px 0 10px 5px rgba(52,52,52,0.9);
    -webkit-box-shadow: 0px 0 10px 5px rgba(52,52,52,0.9);
    box-shadow: 0px 0 10px 5px rgba(52,52,52,0.9);
    border-radius: 0.5em;
    text-align: center;
}

#mainnav a{
    display: block;
    color:#FCBB00;
    text-decoration: none;
    min-height: 30px;
    border-left: 10px solid #343434;
    border-right: 10px solid #343434;
}

#mainnav a:hover {
    background-color: #A4A4A4;
    border-left: 10px solid #A4A4A4;
    border-right: 10px solid #A4A4A4;
}

#mainnav div{
}

body section{
    margin-left: 200px;
    padding: 40px;
    /*width: 700px;*/
}

article {
    padding: 15px;
    background-color: #747474;
    -moz-box-shadow: 0px 0 10px 5px rgba(52,52,52,1);
    -webkit-box-shadow: 0px 0 10px 5px rgba(52,52,52,1);
    box-shadow: 0px 0 10px 5px rgba(52,52,52,1);
    border-radius: 0.5em;
}

#article{
    padding: 0 2px;
}

section h2 {
    color:#ffffff;
    font-family: 'Belleza', sans-serif; 
    font-size: 25pt;
    text-align: center;
    margin: 14px 0;
}

#author {
    color:#A4A4A4;
    margin: 10px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}

#next{
    float: left;
}

#previous{
    float: right;
}
.button:empty{
    display: none;
}

.button{
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: bold;
    border-radius: 4px;
    background-color: #FCBB00;
    height: 25px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    display: table;
    border: 1px solid #767776;
    vertical-align: middle;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(center top , #FCBB00, #f2b400);
    background-image: -ms-linear-gradient(center top , #FCBB00, #f2b400);
    background-image: -moz-linear-gradient(center top , #FCBB00, #f2b400);
    line-height: 19pt;
    text-align: center;
}

.button a{    
    text-decoration: none;
    color: black;
    display: table-cell;
    padding: 3px 11px;
    vertical-align: middle;
}

.button div{
    display: table-cell;
    padding: 1px 7px;
    vertical-align: middle;
}

.button:hover{
    background-color: #006100;
    background-image: linear-gradient(top center, #ff9900, #f19100);
    background-image: -ms-linear-gradient(top center, #ff9900, #f19100);
    background-image: -moz-linear-gradient(top center, #ff9900, #f19100);
}

#line{
    text-align: center;
}

#line div{
    width: 500px;
    border-bottom: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#articlenav{
    margin-top: 30px;
}

#comments{
    -moz-box-shadow: 0px 0 10px 5px rgba(52,52,52,1);
    -webkit-box-shadow: 0px 0 10px 5px rgba(52,52,52,1);
    box-shadow: 0px 0 10px 5px rgba(52,52,52,1);
    border-radius: 0.5em;
    margin-top: 30px;
    background-color: #949494;
    padding: 30px;
}

#newcomment{
    border-radius: 0.5em;
    border: 1px solid #FCBB00;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    background-color: #747474;
}

#commentcontainer>div:first-child{
    -webkit-border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-top: 1px solid #FCBB00;
}

#commentcontainer>div:last-child{
    -webkit-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

#commentcontainer>div{
    border-left: 1px solid #FCBB00;
    border-right: 1px solid #FCBB00;
    border-bottom: 1px solid #FCBB00;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Belleza',sans-serif;
    background-color: #747474;
}

#commentcontainer{
    margin-top: 20px;
}

.date{
    /*text-transform: uppercase;*/
    font-size: 9pt;
}

.left{
    float: left;
    padding-right: 20px;
    width: 80px;
    background-color: lightgray;
    border-radius: 0.5em;
    padding: 5px;
}

.clear{
    clear: both;
}

.comauth{
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    font-size: 14pt;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment{
    background-color: white;
    border-radius: 0.5em;
    margin-left: 80px;
    padding: 15px;
    padding-left: 20px;
    margin-top: 10px;
}

.login{
    display: inline-block;
}